* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(var(--bg-main));
    color: rgb(var(--text-default));
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: background-color 0.5s ease;
    font-family: var(--font-secondary);
}


html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}