/* ----------------------------- Planeta SVG ----------------------------- */
.planeta__simbolo {
    color: var(--color-primary);
    padding-right: 5px;
}

.planeta {
    width: 100%;
    max-width: min(70vh, 55vw);
    height: auto;
    aspect-ratio: 1 / 1;
    perspective: 50px;
}

.planeta circle {
    stroke: var(--color-primary);
    stroke-width: 3px;
    fill: none;
    transition: stroke 0.5s ease;
}

.planeta__equador {
    transform: rotateZ(-20deg) rotateX(125deg);
}

.planeta__meridiano {
    animation: planeta-girar 1s infinite linear;
    transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--start));
}

@keyframes planeta-girar {
    100% {
        transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--end));
    }
}


/* ----------------------------- Gráfico de Histórico ----------------------------- */
.grafico-github {
    background: var(--bg-panel);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 15px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

@media screen and (max-width: 1117px) {
    .grafico-github {
        width: 320px;
    }
}

.grafico-github__cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grafico-github__titulo {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-primary);
}

.grafico-github__simbolo {
    color: var(--color-primary);
    padding-right: 5px;
}

.grafico-github__contribuicoes {
    font-size: 12px;
    color: var(--text-secondary);
}

.grafico-github__grade {
    display: grid;
    grid-template-rows: repeat(7, 10px);
    grid-auto-flow: column;
    grid-auto-columns: 10px;
    gap: 3px;
}

.grafico-github__quadrado {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: var(--graph-color-lv0);
    outline: 1px solid var(--outline-color);
    outline-offset: -1px;
}

.grafico-github__quadrado[data-level="1"] {
    background-color: var(--graph-color-lv1);
}

.grafico-github__quadrado[data-level="2"] {
    background-color: var(--graph-color-lv2);
}

.grafico-github__quadrado[data-level="3"] {
    background-color: var(--graph-color-lv3);
}

.grafico-github__quadrado[data-level="4"] {
    background-color: var(--graph-color-lv4);
}

.grafico-github__rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-size: 12px;
    color: var(--text-secondary);
    margin-top: 5px;
}

.grafico-github__legenda {
    display: flex;
    gap: 3px;
}