/* ----------------------------- Planet SVG ----------------------------- */
.symbol {
    color: var(--color-primary);
    padding-right: 5px;
}

svg {
    width: 100%;
    max-width: min(70vh, 55vw);
    height: auto;
    aspect-ratio: 1 / 1;
    perspective: 50px;
}

circle {
    stroke: var(--color-primary);
    stroke-width: 3px;
    fill: none;
    transition: stroke 0.5s ease;
}

.equator {
    transform: rotateZ(-20deg) rotateX(125deg);
}

.meridian {
    animation: turn 1s infinite linear;
    transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--start));
}

@keyframes turn {
    100% {
        transform: rotateZ(-20deg) rotateX(35deg) rotateY(var(--end));
    }
}


/* ----------------------------- GitHub Status Box ----------------------------- */
.github-status-box {
    background: var(--bg-panel);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 15px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

@media screen and (max-width: 1117px) {
    .github-status-box {
        width: 320px;
    }
}

.github-graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-graph-header h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-primary);
}

.github-graph-header .contributions-count {
    font-size: 12px;
    color: var(--text-secondary);
}

.github-graph {
    display: grid;
    grid-template-rows: repeat(7, 10px);
    grid-auto-flow: column;
    grid-auto-columns: 10px;
    gap: 3px;
}

.github-graph .square,
.legend .square {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: var(--graph-color-lv0);
    outline: 1px solid var(--outline-color);
    outline-offset: -1px;
}

.github-graph .square[data-level="1"],
.legend .square[data-level="1"] {
    background-color: var(--graph-color-lv1);
}

.github-graph .square[data-level="2"],
.legend .square[data-level="2"] {
    background-color: var(--graph-color-lv2);
}

.github-graph .square[data-level="3"],
.legend .square[data-level="3"] {
    background-color: var(--graph-color-lv3);
}

.github-graph .square[data-level="4"],
.legend .square[data-level="4"] {
    background-color: var(--graph-color-lv4);
}

.github-graph-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-size: 12px;
    color: var(--text-secondary);
    margin-top: 5px;
}

.github-graph-footer .legend {
    display: flex;
    gap: 3px;
}
